<html lang="en">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Your note was opened</title>
    </head>
    <body>
    <div>
        <h1>Your safenote has been read!</h1>
        <div>
            <p>The safenote that you sent to: {{ index . 0 }} has been opened!</p>
            <br />
            <p>This email was sent to inform you that your safe note no longer exists in our storage systems.</p>
        </div>
    </div>
    </body>
</html>
