window.snenv = {
  "web": {
    "storage_path": "/api",
    "domain": "http://localhost:44666"
  },
  "app": {
    "timeframe": [
      {"label": "1 hour", "value": "1h"},
      {"label": "2 hour", "value": "2h"}
    ]
  }
}