server:
  ip:        0.0.0.0
  port:      80
  verbosity: debug
  https:
    enable:      true
    port:        443
    cert:        ./config/cert.pem
    cert-key:    ./config/key.pem
    server-name: localhost
    enable-redirect: true
    redirect-to: https://localhost/

web-api:
  domain:      localhost
  cors-host:   "https://localhost"
  path-prefix: /api

static-site:
  serve:     true
  index:     index.html
  resources: ./www
  envjs:     |
             window.snenv={
               "web":{
                 "domain":"https://localhost/app",
                 "storage_path":"https://localhost/api"
               }
             }
