verbose:     false
server:
  ip:        0.0.0.0
  port:      80
  https:
    enable:      false
    port:        443
    cert:        ./config/cert.pem
    cert-key:    ./config/key.pem
    server-name: localhost
    enable-redirect: true
    redirect-to: https://localhost/
  auth:
    realm: localhost-restricted
    user: ~
    pass: ~

web-api:
  domain:      localhost
  cors-host:   "localhost"
  path-prefix: /api

static-site:
  serve:     true
  index:     index.html
  resources: ./www
  envjs:     |
             window.snenv={
               "web":{
                 "domain":"http://localhost/app",
                 "storage_path":"http://localhost/api"
               }
             }
