verbose:     false
server:
  ip:        0.0.0.0
  port:      80
  https:
    enable:      false
    port:        443
    cert:        ./config/cert.pem
    cert-key:    ./config/key.pem
    server-name: localhost
    enable-redirect: true
    redirect-to: https://localhost/
  auth:
    realm: localhost-restricted
    user: ~
    pass: ~

web-api:
  domain:      localhost
  cors-host:   "localhost"
  path-prefix: /api

static-site:
  serve:     true
  index:     index.html
  resources: ./www
  envjs:     |
     window.snenv={
       "web":{
         "domain":"http://localhost/app",
         "storage_path":"http://localhost/api",
         "expirationOptions": [
             {"value": "on-read", "label": "On Read"},
             {"value": "30m", "label": "30 minutes"},
             {"value": "1h", "label": "1 hour"},
             {"value": "24h", "label": "1 day"},
             {"value": "48h", "label": "2 days"},
             {"value": "168h", "label": "7 days"},
         ]
       },
       "theme": {
           "logo": {
               "image": "/app/new-logo.png",
               "imageCss": ['object-contain h-36 w-48 pt-2']
           }
       }
     }
